<% if @meal_thumbnails.present? %>
  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
    <% @meal_thumbnails.each do |thumbnail| %>
      <%= render(MealThumbnailComponent.new(meal_thumbnail: thumbnail)) %>
    <% end %>
  </div>
<% else %>
  <%= render EmptyStateComponent.new(
        title: "No favourite meals yet. Start browsing to add some!",
        primary_action_text: "Browse Meals",
        primary_action_path: meals_path,
        secondary_action_text: "Or check a random meal",
        secondary_action_path: random_meals_path
      ) %>
<% end %>
