<div id="favorite-button">
  <% if favorited %>
    <%= render ButtonComponent.new(theme: :primary, action: toggle_favourite_meal_path(meal.external_id), method: :put) do %>
      Remove from favourites
    <% end %>
  <% else %>
    <%= render ButtonComponent.new(theme: :primary_outline, action: toggle_favourite_meal_path(meal.external_id), method: :put) do %>
      Mark as favourite
    <% end %>
  <% end %>
</div>
