<div id="reviews_list" class="space-y-4 mb-8">
  <% if meal.meal_reviews.any? %>
    <% meal.meal_reviews.latest.each do |review| %>
      <%= render ReviewComponent.new(review: review, removable: review.user == current_user) %>
    <% end %>
  <% else %>
    <div class="text-center py-8">
      <p class="text-gray-500">No reviews yet. Be the first to review this meal!</p>
    </div>
  <% end %>
</div>
