<% if meal_thumbnails.present? %>
  <%= render MealThumbnailsGroupComponent.new(meal_thumbnails: meal_thumbnails) %>
<% else %>
  <div class="text-gray-500 text-center py-8">No meals found.</div>
<% end %>
