<% content_for :title do %>
  Your reviews
<% end %>
<% content_for :subtitle do %>
  All the meals you've reviewed
<% end %>
<div id="user_reviews_list" class="space-y-6">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= render PersonalReviewComponent.new(review: review) %>
    <% end %>
  <% else %>
    <%= render EmptyStateComponent.new(
          title: "No reviews yet. Start browsing to add some!",
          primary_action_text: "Browse Meals",
          primary_action_path: meals_path,
          secondary_action_text: "Or check a random meal",
          secondary_action_path: random_meals_path
        ) %>
  <% end %>
</div>
