<% content_for :title do %>
  Your reviews
<% end %>
<% content_for :subtitle do %>
  All the meals you've reviewed
<% end %>
<div id="user_reviews_list" class="space-y-6">
  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= render PersonalReviewComponent.new(review: review) %>
    <% end %>
  <% else %>
    <%= render EmptyMealsStateComponent.new(title: "No reviews yet", description: "Browse meals to add some to your favourites") %>
  <% end %>
</div>
